[Unit]
Description=Mailcatcher Service
After=network.service vagrant.mount

[Service]
Type=simple
ExecStart=/usr/local/bin/mailcatcher --foreground --ip 0.0.0.0 --smtp-port=25

Restart=always

[Install]
WantedBy=multi-user.target
